<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Tests Suite" parallel="classes" thread-count="4">

    <test name="All API Tests">
        <classes>
            <class name="tests.CreateEntityTest"/>
            <class name="tests.ReadEntityTest"/>
            <class name="tests.UpdateEntityTest"/>
            <class name="tests.DeleteEntityTest"/>
        </classes>
    </test>

</suite>
